*{
	margin: 0;
	font-family: Arial;
	border:border-box;
}
.navbar {
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.nav-logo {
	height: 50px;
	width: 110px;
}
.logo {
	background-image: url("img/klipartz.com.png");
	background-size: cover;
	height: 40px;
	width: 100%;	
}
.borders {
	border: 2px solid transparent;
	
}

.borders:hover{
	border: 2px solid white;
	
}
/**box2**/
.add-first{
	color: #cccccc;
	font-size: .8rem;
	margin-left:15px; 
}
.add-sec{
color: #ffffff;
margin-left: 3px;
font-weight: 700;
}
.add-icon{
	display: flex;
	align-items: center;
}
/* box3 */
.nav-search{
	display: flex;
	justify-content:space-evenly;
	width: 650px;
	height: 40px;
	border-radius: 3px;
	/* align-items: center; */
}
.search-select{
	background-color: #f3f3f3;
	width: 65px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: none;
}
.search-input{
	width: 100%;
	font-size: 1rem;
	border: none;
}
.search-icon{
	width: 45px;
	display: flex;
	justify-content:center;
	align-items: center;
	font-size: 1.5rem;
	background-color: #febd69;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #0f1111;
}

/* select lan */
.nav-lan{
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	
}
.lan-select{
	background-color: #0f1111;
	color: #f3f3f3;
	border: none;
	/* font-weight: bolder; */
	/* font-size: 18px ; */
}
.hello
{
	color: #cccccc;
	font-size: .8rem;
	margin-left:5px; 
}
.acc{
	font-weight: 700;
	color: #ffffff;
	margin-left: 3px
}
.returns{
	color: #cccccc;
	font-size: .8rem;
	margin-left:5px;
}
.order{
	font-weight: 700;
	color: #ffffff;
    margin-left: 3px
}
.nav-cart{
	font-weight: 700;
	display: flex;
	justify-content: center;
}
.cart-icon{
	font-size: 38px;
}
.cart{
	font-weight: 700;
	color: #ffffff;
	margin-left: 3px;
	margin-top: 20px;

}
/* panel */
.panel{
	height: 40px;
	background-color: #232f3e;
	display: flex;
	color:whitesmoke;
	align-items: center;
	justify-content:space-evenly;
	/* padding-top:100px;  */
}
/* menu */
#menu__toggle {
	opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
	left: 0 !important;
  }
  .menu__btn {
	position: fixed;
	top: 75px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
	margin-left: 0px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  .menu__box {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin-top: 0;
	padding: 80px 0;
	list-style: none;
	background-color:#0f1111;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
	padding-top: 150px;
	
}
  .menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
  }
  .menu__item:hover {
	background-color: #CFD8DC;
  }

.panel a{
	text-decoration: none;
	display: inline;
	color: #f3f3f3;
	margin-left: 20px;
	
}
.pan-option p {
	display: inline;
	margin-left: 15px;
}
.pan-option{
	width: 80%;
	font-size: .85rem;
}
.pan-mini p a{
	font-size: .95rem;
	font-weight: 700;
}
/* hero */
.hero-sec{
	background-image:linear-gradient(to bottom, transparent ,#ebccc8), url("img/hero.jpg");
	background-repeat:no-repeat; 
	/* -webkit-mask-image: linear-gradient(to bottom,#ebccc8 50%,transparent 70%); */
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 60px; */
}
.hero-mea{
	height: 30px;
	width: 95%;
	margin-top: 300px;
	background-color: #ffffff;
	padding: 10px;
	color: #0f1111;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}
.hero-mea a{
	text-decoration: none;
	color: #3d95a8;
}

/* shop */

.shop-sec{
	display: flex;
	justify-content: space-evenly;
	background-color: #EAC9C5;
	flex-wrap: wrap;
	

		
}
.shop-sec a{
	text-decoration: none;
	color: #3d95a8;

}
.box{
	height: 450px;
	width: 22.5%;
	background-color: #ffffff;
	margin-bottom: 30px;		
	padding: 20px 0px 15px;
}
.box1-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box1
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box2-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box2
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box3-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box3
{	
	padding-left:15px; 
	padding-right:15px; 
}

.box4-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box4
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box5-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box5
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box6-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box6
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box7-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box7
{	
	padding-left:15px; 
	padding-right:15px; 
}
.box8-img{
	
	background-size: cover;
	height: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.box8
{	
	padding-left:15px; 
	padding-right:15px; 
}
/* 4 img in one box */

.outer{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}
.inner-img{
	background-size: cover;
	width: 180px;
	height: 150px;
	padding: 5px;
}
/* footer work */
.back_to_top{
background-color: #323e50;
color: #ffffff;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
font-weight: 700;
}
.pan-2-li a{
	text-decoration: none;
	display: block;
	color: #dddddd;
	margin-top: 15px;
	flex-wrap: wrap;
}
ul{
	margin-top:20px; 
}
.pan-2-li{
	background-color: #202837;
	height: 500px;
	color: #f3f3f3;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.foot-pan{
	background-color: #202837;
	color: white;
	border-top: .5px solid white;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logos {
	background-image: url("img/klipartz.com.png");
	background-size: cover;
	height: 50px;
	width: 160px;
}
.foot4{
	background-color: #131A22;
	color: #dddddd;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot4 a{
	text-decoration: none;
	color: #dddddd;
	margin-left: 10px;
	margin-bottom: 15px;
	padding-top:25px; 
	font-weight: 700;
}
.copy{
	text-align: center;
padding-top: 5px;
font-weight: 700;
}

/* media */
/* 1024 */
@media only screen and (max-width:1024px)
{
	.navbar{
		display: flex;
		width: 1024px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
	
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 550px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-input{
		width: 72%;
		font-size: 1rem;
		border: none;
	}
	.search-icon{
		width: 35px;
	}
	.hero-mea{
		height: 30px;
		width: 85%;
		margin-top: 300px;
		background-color: #ffffff;
		padding: 10px;
		color: #0f1111;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		border-radius: 5px;
	}
	.box{
		width: 40%;
	}
	.outer{
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-left:15px; 
		padding-right:15px;
	}
	.inner-img{
		background-size: cover;
		width: 180px;
		height: 150px;
		margin: 4px;
		padding: 4px;
	}
}

/* media query for responsive website for 991px*/

@media only screen and (max-width:991px)
{
	.navbar{
		display: flex;
		width: 991px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
	
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 450px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-input{
		width: 70%;
		font-size: 1rem;
		border: none;
	}
	.search-icon{
		width: 35px;
	}
	
	.hero-mea{
		height: 30px;
		width: 85%;
		margin-top: 300px;
		background-color: #ffffff;
		padding: 10px;
		color: #0f1111;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		border-radius: 5px;
	}
	.box{
		width: 40%;
	}
	.outer{
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-left:15px; 
		padding-right:15px;
	}
	.inner-img{
		background-size: cover;
		width: 180px;
		height: 150px;
		margin: 4px;
		padding: 4px;
	}
}
/* 922 */
@media only screen and (max-width:952px)
{
	.navbar{
		display: flex;
		width: 100%;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 140px;
		height: 120px;
		
	}
	.pan-2-li{
		font-size: .8rem;
		height: 400px;
		justify-content: space-between;
	}
	.pan-2-li a{
		width: 100%;
		
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}
/* 880 */
@media only screen and (max-width:880px)
{
	.navbar{
		display: flex;
		width: 880px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 130px;
		height: 120px;
		
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}
/* 785 */
/* media query for responsive website for 768px*/

@media only screen and (max-width:785px)
{
	.navbar{
		display: flex;
		width: 785px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 130px;
		height: 120px;
		
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}



/* media query for responsive website for 768px*/

@media only screen and (max-width:768px)
{
	.navbar{
		display: flex;
		width: 768px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 130px;
		height: 120px;
		position: fixed;
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}
/* 745 */
/* media query for responsive website for 768px*/

@media only screen and (max-width:745px)
{
	.navbar{
		display: flex;
		width: 745px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 130px;
		height: 120px;
		
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}
/* 716 */
/* media query for responsive website for 768px*/

@media only screen and (max-width:716px)
{
	.navbar{
		display: flex;
		width: 716px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 120px;
		height: 120px;
		
	}
	
	
}

/* 688 */

@media only screen and (max-width:688px)
{
	.navbar{
		display: flex;
		width: 688px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
	
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		display: flex;
		/* justify-content:space-evenly; */
		width: 200px;
		height: 40px;
		border-radius: 3px;
		/* align-items: center; */
	}
	.search-select{
		background-color: #f3f3f3;
		width: 50px;
		text-align: left;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border: none;
	}
	.search-input{
		width: 50%;
		font-size: 1rem;
		border: none;
	}
	.inner-img{
		background-size: cover;
		width: 120px;
		height: 120px;
		
	}
	
	.foot4 a{
		
		padding:14px; 
		

	}
}

/* media query for responsive website for 412px*/

@media only screen and (max-width:414px)
{
	
	.navbar{
		display: flex;
		width: 412px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.pan-option{
		display: none;
	}
	.pan-mini p a{
		font-size: 1.5rem;
		font-weight: 700;
		
	}
	.menu__btn{
		top:115px;
	}
	.hero-sec{
	width: auto;
	height: 200px;
	overflow: hidden;
	}
	.hero-mea{
		margin-top: 100px;
		font-size: .8rem;
	}
	.box{
		width: 100%;
		margin: 10px 15px 10px 15px;
	}
	.outer{
		width: 100%;
		
	}
	.inner-img{
	width: 120px;
	height: 100px;
	padding: 15px;
	}	
	.pan-2-li{
		font-size: .8rem;
		height: 800px;
		justify-content: space-between;
	}
	.pan-2-li a{
		width: 100%;
		
	}
	
	
}

/* 500 */

@media only screen and (max-width:500px)
{
	
	.navbar{
		display: flex;
		width: auto;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.pan-option{
		display: none;
	}
	.pan-mini p a{
		font-size: 1.5rem;
		font-weight: 700;
		
	}
	.hero-sec{
	width: auto;
	height: 200px;
	overflow: hidden;
	}
	.hero-mea{
		margin-top: 100px;
		font-size: .8rem;
	}
	.box{
		width: 100%;
		margin: 10px 15px 10px 15px;
	}
	.outer{
		width: 100%;
		
	}
	.inner-img{
	width: 120px;
	height: 100px;
	padding: 15px;
	}	
	.pan-2-li{
		font-size: .8rem;
		height: 800px;
		justify-content: space-between;
	}
	.pan-2-li a{
		width: 100%;
		
	}
}
/* 375 */

@media only screen and (max-width:375px)
{
	
	.navbar{
		display: flex;
		width: 412px;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		position: fixed;
	}
	.logo {
		background-image: url("img/klipartz.com.png");
		background-size: cover;
		height: 40px;
		width: 100%;
		margin-top: 10px;	
	}
	.nav-search{
		width: 30%;
	}
	/* .search-input{
		width: 20%;
	} */
	.pan-option{
		display: none;
	}
	.pan-mini p a{
		font-size: 1.5rem;
		font-weight: 700;
		
	}
	.hero-sec{
	width: auto;
	height: 200px;
	overflow: hidden;
	}
	.hero-mea{
		margin-top: 100px;
		font-size: .8rem;
	}
	.box{
		width: 100%;
		margin: 10px 15px 10px 15px;
	}
	.outer{
		width: 100%;
		
	}
	.inner-img{
	width: 110px;
	height: 90px;
	padding: 15px;
	}	
	.pan-2-li{
		font-size: .8rem;
		height: 800px;
		justify-content: space-between;
	}
	.pan-2-li a{
		width: 100%;
		
	}
}
/* 384 */
@media only screen and (max-width:384px)
{
	
	.navbar{
		display: flex;
		width: auto;
		height: 100px;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		position: fixed;
	}
	/* */
	.nav-search{
		width: 30%;
	}
	/* .search-input{
		width: 20%;
	} */
	
}
/* 360 */
@media only screen and (max-width:360px)
{
	.pan-2-li{
		font-size: .8rem;
		height: 1800px;
		justify-content: space-between;
	}
	.pan-2-li a{
		width: 100%;
		
	}
	
	
}